.movie-row {
	background-color: #e0f7fa
}

.tv-movie-row {
	background-color: #f3e5f5
}

.tv-series-row {
	background-color: #bbdefb
}


.tv-mini-series-row {
	background-color: #fff9c4
}

.short-row {
	background-color: #e8f5e9
}
