.rating-cell-0 {
	background-color: #FFFFFF;
}

.rating-cell-1 {
	background-color: #0000FF;
}

.rating-cell-2 {
	background-color: #1A00E5;
}

.rating-cell-3 {
	background-color: #3300CC;
}

.rating-cell-4 {
	background-color: #4D00B2;
}

.rating-cell-5 {
	background-color: #660099;
}

.rating-cell-6 {
	background-color: #800080;
}

.rating-cell-7 {
	background-color: #990066;
}

.rating-cell-8 {
	background-color: #B2004D;
}

.rating-cell-9 {
	background-color: #CC0033;
}

.rating-cell-10 {
	background-color: #FF0000;
}